* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("https://img.freepik.com/free-photo/gray-wall-textures-background_74190-4389.jpg?t=st=1652132962~exp=1652133562~hmac=321993c97598c8a28bc8eb6efa27aeae97d27788fc94cd464885cae63f422630&w=1060");
}

.menu-items {
  background-color: red;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  letter-spacing: 0.2px;
  text-transform: uppercase;

  padding-left: 25px;
  padding-right: 25px;
}

.logo-div {
  height: 50px;
  width: 50px;

  background-color: aliceblue;
  border-radius: 50%;
  border: 1px solid black;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.menu-items a:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  width: 50%;
  height: 100%;
  max-width: 600px;
  max-height: 400px;

  border-radius: 20px;
}

h3 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

h4,
p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.destaque,
.div-restaurante,
.div-evento,
.div-cardapio {
  margin: 100px 50px 0 50px;

  display: flex;
  gap: 40px;
}

.cardapio-text a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: black;
}

.cardapio-text a:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

footer {
  background-color: red;
  position: absolute;
  bottom: -50;
  left: 0;
  margin-top: 10rem;

  width: 100%;
  height: 50px;
}
